<header class="container-fluid" ng-controller="headerController">
    <div class="col-lg-6 xol-md-6 col-sm-6 col-xs-6 pull-right widthFullMob">
        <div class="row">
            <section class="logoSection">
                
                    <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-danger navbar-btn">
                                <i class="fa fa-bars"></i>
                                <span>Toggle Sidebar</span>
                            </button>
                        </div>


                <a class="logoLink" href="./index.html">
                    <img src="./images/logo.png" alt="logo here!">
                </a>

            </section>



        </div>
    </div>
    <div class="col-lg-6 xol-md-6 col-sm-6 col-xs-6 pull-left widthFullMob">
        <div class="row">
            <div class="userProfile">
                <section class="userProfileImg">
                    <img src="./images/user.png" alt="user">
                </section>
            </div>
            <section class="userProfileData">
                <h5>
                    <b>Welcome</b> Muhammed Abeer Abid</h5>

                <a class="logOut" href="#">
                    <i class="fa fa-lock" aria-hidden="true"></i>&nbsp;Logout

                </a>

            </section>
        </div>
    </div>

</header>