<div ng-controller="securityController">

    <section class="services">
        <table id="exampleTable" class="table table-hover table-bordered dataTableEx" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>index</th>
                    <th>service name</th>
                    <th>grant</th>
                    <th>deny</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Service Name1</td>
                    <td>
                        <div class="checkbox">
                            <label style="font-size: 1em">
                                <input type="checkbox" value="" checked>
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <label style="font-size: 1em">
                                <input type="checkbox" value="" checked>
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Service Name2</td>
                    <td>
                        <div class="checkbox">
                            <label style="font-size: 1em">
                                <input type="checkbox" value="" checked>
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <label style="font-size: 1em">
                                <input type="checkbox" value="" checked>
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Service Name3</td>
                    <td>
                        <div class="checkbox">
                            <label style="font-size: 1em">
                                <input type="checkbox" value="" checked>
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <label style="font-size: 1em">
                                <input type="checkbox" value="" checked>
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Service Name4</td>
                    <td>
                        <div class="checkbox">
                            <label style="font-size: 1em">
                                <input type="checkbox" value="" checked>
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <label style="font-size: 1em">
                                <input type="checkbox" value="" checked>
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Service Name5</td>
                    <td>
                        <div class="checkbox">
                            <label style="font-size: 1em">
                                <input type="checkbox" value="" checked>
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <label style="font-size: 1em">
                                <input type="checkbox" value="" checked>
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                            </label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="channels">
        <table id="exampleTableTwo" class="table table-hover table-bordered dataTableEx" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>index</th>
                    <th>Channel name</th>
                    <th>grant</th>
                    <th>deny</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Service Name1</td>
                    <td>
                        <div class="checkbox">
                            <label style="font-size: 1em">
                                <input type="checkbox" value="" checked>
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <label style="font-size: 1em">
                                <input type="checkbox" value="" checked>
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Service Name2</td>
                    <td>
                        <div class="checkbox">
                            <label style="font-size: 1em">
                                <input type="checkbox" value="" checked>
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <label style="font-size: 1em">
                                <input type="checkbox" value="" checked>
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Service Name3</td>
                    <td>
                        <div class="checkbox">
                            <label style="font-size: 1em">
                                <input type="checkbox" value="" checked>
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <label style="font-size: 1em">
                                <input type="checkbox" value="" checked>
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Service Name4</td>
                    <td>
                        <div class="checkbox">
                            <label style="font-size: 1em">
                                <input type="checkbox" value="" checked>
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <label style="font-size: 1em">
                                <input type="checkbox" value="" checked>
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Service Name5</td>
                    <td>
                        <div class="checkbox">
                            <label style="font-size: 1em">
                                <input type="checkbox" value="" checked>
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <label style="font-size: 1em">
                                <input type="checkbox" value="" checked>
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                            </label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>





    <section class="row">
        <div class="drag subject-info-box-1 col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <article>available users</article>
            <div class="selectable selectableOne">
                <select multiple="multiple" id='lstBox1' class="form-control">
                    <option value="username1">user name name 1</option>
                    <option value="username2">user name name 2</option>
                    <option value="username3">user name name 3</option>
                    <option value="username4">user name name 4</option>
                    <option value="username5">user name name 5</option>
                    <option value="username6">user name name 6</option>
                </select>
            </div>
        </div>

        <div class="subject-info-arrows text-center col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <section class="emptySpace">&nbsp;</section>
            <div class="selectable selectableTwo"> 
                <button type='button' id='btnRight' class="btn btn-default" >></button> 
                <button type='button' id='btnAllRight' class="btn btn-default" ><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                <button type='button' id='btnLeft'class="btn btn-default" ><</button>
                <button type='button' id='btnAllLeft'class="btn btn-default" ><i class="fa fa-angle-double-left" aria-hidden="true"></i></button>
            </div>
        </div>

        <div class="drag subject-info-box-2 col-lg-5 col-md-5 col-sm-12 col-xs-12">

            <article>assigned users</article>
            <div class="selectable selectableThree">
                <select multiple="multiple" id='lstBox2' class="form-control">
                    <option value="username7">user name name 7</option>
                    <option value="username8">user name name 8</option>
                    <option value="username9">user name name 9</option>
                </select>
            </div>

        </div>

    </section>





</div>